@page "/crear-libro"

@using BlazorCrud.Modelos
@using BlazorCrud.Repositorio

@inject IRepositorio Repositorio
@inject NavigationManager navigationManager

<h1>Crud con Blazor Server y MSSQLLOCALDBS</h1>

<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-12">
                <h2 class="text-dark">Crear nuevo libro</h2>
            </div>
        </div>
        <div class="card-body">
            <EditForm Model="modeloLibro" OnValidSubmit="@( () => ManejadorOnCrearLibro())">
                <DataAnnotationsValidator></DataAnnotationsValidator>
                <div class="container">

                    <div class="form-group">
                        <div class="row">
                            <div class="col-2">
                                <label>Titulo: </label>
                            </div>
                            <div class="col-6">
                                <InputText @bind-Value="modeloLibro.Titulo" class="form-control" placeholder="Ingresa el Titulo"></InputText>
                                <ValidationMessage For="() => modeloLibro.Titulo"></ValidationMessage>
                            </div>
                        </div>
                    </div>
                    <br />

                    <div class="form-group">
                        <div class="row">
                            <div class="col-2">
                                <label>Descripcion: </label>
                            </div>
                            <div class="col-6">
                                <InputText @bind-Value="modeloLibro.Descripcion" class="form-control" placeholder="Ingresa la Descripcion"></InputText>
                                <ValidationMessage For="() => modeloLibro.Descripcion"></ValidationMessage>
                            </div>
                        </div>
                    </div>
                    <br />

                    <div class="form-group">
                        <div class="row">
                            <div class="col-2">
                                <label>Autor: </label>
                            </div>
                            <div class="col-6">
                                <InputText @bind-Value="modeloLibro.Autor" class="form-control" placeholder="Ingresa el Autor"></InputText>
                                <ValidationMessage For="() => modeloLibro.Autor"></ValidationMessage>
                            </div>
                        </div>
                    </div>
                    <br />

                    <div class="form-group">
                        <div class="row">
                            <div class="col-2">
                                <label>Paginas: </label>
                            </div>
                            <div class="col-6">
                                <InputNumber @bind-Value="modeloLibro.Paginas" class="form-control" placeholder="Ingresa las Paginas"></InputNumber>
                                <ValidationMessage For="() => modeloLibro.Paginas"></ValidationMessage>
                            </div>
                        </div>
                    </div>
                    <br />


                    <div class="form-group">
                        <div class="row">
                            <div class="col-2">
                                <label>Precio: </label>
                            </div>
                            <div class="col-6">
                                <InputNumber @bind-Value="modeloLibro.Precio" class="form-control" placeholder="Ingresa el Precio"></InputNumber>
                                <ValidationMessage For="() => modeloLibro.Precio"></ValidationMessage>
                            </div>
                        </div>
                    </div>
                    <br />
                
                    <div class="form-group">
                        <div class="row">
                            <div class="col-2">
                                <button type="submit" class="btn btn-success"><span class="oi oi-cog" aria-hidden="true"></span> Guardar Libro</button>
                             </div>
                            <div class="col-6">
                                <button  class="btn btn-danger" @onclick="@(() => navigationManager.NavigateTo("/libros"))"><span class="oi oi-chevron-left" aria-hidden="true"></span> Volver atras</button>
                            </div>
                        </div>
                    </div>

                </div>
            </EditForm>
        </div>
    </div>
</div>

@code {
    private Libro modeloLibro = new Libro();


    //Metodo para guiardar un libro
    private async Task ManejadorOnCrearLibro()
    {
        var crearLibro = await Repositorio.CrearLibro(modeloLibro);

        navigationManager.NavigateTo("/libros");
    }
}
